
body {
    width: 1280px;
    margin: auto;
}
.logo {
    margin-top: 48px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
}
.logo-span {
    color: #4BCAFF;
}
.logo-a {
    color: #000;
}
.menu {
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-top: 26px;
    color: white;
}
.box {
    display: flex;
}
.box-li {
    background: #35444F;
    margin-inline: 0.5px;
    padding: 24px 32px 17px 37px;
}
.box-li:hover {
    transition: 0.5s;
    background: #222F3A;
}
.box-li:nth-child(1) {
    width: 160px;
    padding: 0;
    margin-left: 0;
}
.box-li:nth-child(6) {
    width: 151px;
    padding: 0;
    margin-right: 0;
}
.box-a {
    color: white;
}
.box-hover {
    background: #222F3A;
}
.aside {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    border: 1px solid #000;
    width: 344px;
    height: 399px;
    margin-top: 49px;
}
.side-li {
    display: flex;
    align-items: center;
    height: 79.5px;
    padding-left: 44px;
}
.side-li:hover {
    transition: 1s;
    padding-left: 74px;
    background: #DBDBDB;
}
.side-a {
    color: #485863;
}
.side-hover {
    padding-left: 74px;
    background: #DBDBDB;
}

.border {
    width: 885px;
    height: 529px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.border:hover img {
    transform: scale(1.1);
    transition: 1s;
}
.ramda_p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    width: 885px;
    height: 120px;
    color: #2C2C2C;
}
.ramda_p_1 {
    margin-top: 37px;
}
.ramda_p_2 {
    margin-top: 34px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -401px;
    height: 832px;
}
.foo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    display: flex;
    width: 1280px;
    height: 69px;
    text-align: center;
    background: rgba(99, 105, 110, 0.48);
    margin-bottom: 30px;
    margin-top: 54px;
}
.foo_li :hover {
    transition: 0.30s;
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}
.items {
    display: flex;
}
.foo_a {
    color: #0C1927;
}
.foo_hover {
    border-bottom: 1px solid #3181A6;
    color: #3181A6;
}
.foo_li {
    display: flex;
    align-items: center;
    padding-inline: 9px;
}
.foo_li:nth-child(1) {
    padding-left: 40px;
}
.copy {
    display: flex;
    align-items: center;
    padding-left: 135px;
    padding-right: 40px;
}